# outputs
output/
outputs/
SoftGA_output/
*.log
*.tmp

# runtime cache
__pycache__/
*.pyc

# generated figures / csv
*.ckpt
softga.tar.gz
!IEEE-conference-template-062824/fig1.png
cutandjoin/img/work.png